<script src="https://cdn.tailwindcss.com"></script>


<%- include("_header") -%>

<h1 class="font-serif text-3xl font-bold underline decoration-gray-400 mb-2 text-center p-4">LISTE DES AGENTS</h1>

<div class="table w-full p-2">
 
  <table class="w-full border">
    <thead>
      <tr class="bg-gray-50 border-b">
        <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
          <div class="flex items-center justify-center">
            ID
          </div>
        </th>
        <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
          <div class="flex items-center justify-center">
            Name
            </svg>
          </div>
        </th>
        <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
          <div class="flex items-center justify-center">
            Function
          </div>
        </th>
        <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
          <div class="flex items-center justify-center">
            Contact
            </svg>
          </div>
        </th>
        <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
          <div class="flex items-center justify-center">
            Adress
            </svg>
          </div>
        </th>
        <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
          <div class="flex items-center justify-center">  
            <a href="/create" class="bg-blue-500 p-2 w-full right text-white hover:shadow-lg text-sms "> Ajouter</a>
          </div>
        </th>
        
      </tr>
    </thead>
    <% for (const agent of model) { %>
    <tbody>
      <tr class="bg-gray-100 text-center border-b text-sm text-gray-600">
        
       
        <td class="p-2 border-r"><%= agent.id %></td>
        <td class="p-2 border-r"><%= agent.noms %></td>
        <td class="p-2 border-r"><%= agent.fonction %></td>
        <td class="p-2 border-r"><%= agent.contact %></td>
        <td class="p-2 border-r"><%= agent.adresse %></td>
      
        <td>
          <a
            href="/edit/"
            class="bg-blue-500 p-2 text-white hover:shadow-lg text-xs font-thin"
            >Edit</a
          >
          <a
            href="#"
            class="bg-red-500 p-2 text-white hover:shadow-lg text-xs font-thin"
            >Remove</a
          >
        </td>
      </tr>
    </tbody>
    <% } %>
  </table>
</div>





<%- include("_footer") -%>
